@charset "UTF-8";

html {background-image: url(file:///Applications/Eclipse_4.7.2.app/Contents/workspace/ecsite/WebContent/images/polish-wood.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover};
